html {
	background-color: #2E3440;
}
.photo-border {
	background-color: #434C5E;
	width: 200px;
	height: 200px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
	border-style: solid;
	border-width: 6px;
	border-color: #4C566A;
	position: relative;
	z-index: 2;
}
.discord-border {
	background-color: #434C5E;
	width: 80px;
	height: 80px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
	border-style: solid;
	border-width: 6px;
	border-color: #4C566A;
	position: relative;
	float: left;
	z-index: 2;
}
.email-border {
	background-color: #434C5E;
	width: 80px;
	height: 80px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
	border-style: solid;
	border-width: 6px;
	border-color: #4C566A;
	position: relative;
	float: right;
	z-index: 2;
}
.text-border {
	background-color: #434C5E;
	max-width: 1000px;
	margin-top: -100px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 15px;
	border-style: solid;
	border-width: 6px;
	border-color: #4C566A;
}
.subsection {
	color: #D8DEE9;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.logo-subsection {
	margin-top: -40px;
	margin-left: auto;
	margin-right: auto;
	max-width: 300px;
}
.photo {
	position: relative;
	z-index: 1;
}
.text {
	margin-top: 100px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 40px;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
