:root {
	--bg: #282A36;
	--fg: #F8F8F2;
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: var(--bg);
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	height: 100%;
	width: 100%;
	margin: 0;
}

svg {
	overflow: visible;
	height: 1em;
	margin-top: 0.125em;
	margin-right: 6px;
	box-sizing: content-box;
}

a:hover, a:visited, a:active, a:link {
	color: var(--fg);
	background-color: var(--bg);
	text-decoration: none;
}

a:hover {
	box-shadow: 2px 2px var(--fg);
}

.aligner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;	
}

.linkbox {
	display: flex;
	background-color: var(--bg);
	margin: 0;
	padding: 10px;
}

.subsection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #474A5E;
}

.logo-subsection {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	margin-top: 10px;
	margin-bottom: 10px;
}

.photo {
	#position: relative;
	#z-index: 1;
}

img {
	margin-top: 25px;
}

hr {
	margin-top: 10px;
	margin-left: 25px;
	margin-right: 25px;
	background-color: var(--bg);
	color: var(--bg);
	height: 3px;
	width: 400px;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--fg);
	margin-top: 10px;
}

h3 {
	font-weight: 900;
	color: var(--bg);
}

